html {
    font-family: Tahoma,Arial,Helvetica,sans-serif;
}

div.campo {
    width: 235px;
    float: left;
}

img#logo_principal {
    float: left;
}

p#nome_sistema {
    font-size: 23px;
    margin: 6px;
    text-align: center;
}

.escondido {
    display: none;
}

[type=button], [type=submit] {
    cursor: pointer;
    null: undefined;
}
